:root {
  --color-main-button: rgb(251, 75, 77);
  --color-circle-small: rgb(139, 131, 246);
  --color-dark: rgb(0, 0, 0);

  --border-main: 1px solid rgb(0, 0, 0);

  --fonm-family-base: 'Roboto', sans-serif;
}